@model IEnumerable<PipsiProject.Models.ImageModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Baza zdjęć samochodów</h2>

<div class="col-lg-8">
    <p>
        <a class="col-sm-4 btn navbar-btn  navbar-right" style="background-color:white; color:#232323; border: 1px solid #a9a9a9" asp-action="Create">
            <span class="glyphicon glyphicon-plus"></span>
            <span> Dodaj zdjęcie</span>
        </a>
    </p>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>
                    Opis
                </th>
                <th>
                    Nazwa pliku
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr >
                    <td style="vertical-align:middle">
                        @Html.DisplayFor(modelItem => item.ImageTitle)
                    </td>
                    <td style="vertical-align:middle">
                        @Html.DisplayFor(modelItem => item.ImageName)
                    </td>
                    <td style="vertical-align:middle">
                        <img class="img-rounded img-responsive"  src="@("~/images/carimg/"+ item.ImageName)" asp-append-version="true" width="120"  />
                    </td>
                    <td style="vertical-align:middle">
                        <a class="btn  btn-block " style="margin:10px 0px; background-color:#3e3e3e; color:white " asp-action="Edit" asp-route-id="@item.ImageId">Edytuj</a>

                        <a class="btn  btn-block " style="margin:10px 0px; background-color:orange; color:white" asp-action="Delete" asp-route-id="@item.ImageId">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
